log/
build/
.gradle/*
inputs*
formula*
history*
*bak*
*nohup*
*.log
instrumented/
coverage.catg
branches/
.idea/
catg_tmp/
coverage*
backtrackFlag
*\#*
*.iml
isRealInput
*.aux
*.bbl
*.blg
*.dvi
doc/

